


<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Nome_Tipo</td>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Nome_Tipo
            </td>
        </tr>
    }*@
</table>
<input id="data" type="text" name="data" />