
@{
    ViewData["Title"] = "Enfermedades";
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <!--DataTable JS-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTable/dataTables.responsive.min.js"></script>

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <link href="~/css/Users/AddDisease.css" rel="stylesheet" />
    <script src="/js/Users/AddDisease.js"></script>

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />

    <!--DataTable Css-->
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/dataTable/responsive.dataTables.min.css" rel="stylesheet" />

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <h2 class="h2-title">Crear enfermedad</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">

            <form>
                <div class="form-row">
                    <div class="col-md-6">
                        <label class="control-label">Tipo / categoria</label>
                        <select class="form-control" id="disease-types">
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" id="disease-name" placeholder="Ingrese nombre enfermedad">
                    </div>

                    <div class="col-md-12">
                        <button type="button" id="btnCreate" class="btn btn-primary btn-form-horizontal"> <i class="fa fa-floppy-o"></i> Crear enfermedad</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <br />

    <h2 class="h2-title">Listado de enfermedades</h2>
    <hr />

    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableDiseases">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo enfermedad
                </th>               
                <th>
                    Operaciones
                </th>
            </tr>
        </thead>
    </table>


</body>
</html>

