@*@model IEnumerable<Martina.API.Data.Entities.User>*@

@{
    ViewData["Title"] = "Usuarios";
}

<html lang="es">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <!--DataTable JS-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTable/dataTables.responsive.min.js"></script>

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <script src="~/js/Users/Index.js"></script>
    <link href="~/css/Users/Index.css" rel="stylesheet" />

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />

    <!--DataTable Css-->
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/dataTable/responsive.dataTables.min.css" rel="stylesheet" />

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <h2 class="h2-title">Listado de usuarios</h2>

    <div class="row">
        <div class="col-md-12">
            <button type="button" id="btnCallModal" class="btn btn-outline-primary btn-form-horizontal"> <i class="fa fa-floppy-o"></i> Crear usuario</button>
        </div>
    </div>

    <hr />

    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableUsers">
        <thead>
            <tr>
                <th>
                    Foto
                </th>
                <th>
                    Nombre completo
                </th>
                <th>
                    Email
                </th>
                <th>
                    N° telefonico
                </th>
                <th>
                    Tipo usuario
                </th>
                <th>
                    Operaciones
                </th>
            </tr>
        </thead>
    </table>

    <!-- MODAL DE CREACIÓN USUARIO -->
    <div class="modal fade" tabindex="-1" role="dialog" id="create-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="create-user" action="Create">
                        <div class="form-group">
                            <label>Tipo de usuario</label>
                            <div>
                                <label for="f-option" class="l-radio">
                                    <input type="radio" id="f-option" name="selector" tabindex="1" value="Apoderado" checked>
                                    <span>Apoderado</span>
                                </label>
                                <label for="s-option" class="l-radio">
                                    <input type="radio" id="s-option" name="selector" tabindex="2" value="Cuidador">
                                    <span>Cuidador</span>
                                </label>
                                <label for="t-option" class="l-radio">
                                    <input type="radio" id="t-option" name="selector" tabindex="3" value="Adulto mayor">
                                    <span>Adulto mayor</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control div-margin-down" id="email" placeholder="Ingrese un email">
                            <span id="email-ok"></span>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese un nombre">
                            </div>
                            <div class="col">
                                <label>Apellido</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Ingrese un apellido">
                            </div>
                        </div>

                        <div class="row div-modal-margin-top">
                            <div class="col">
                                <label>Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="Ingrese una dirección">
                            </div>
                            <div class="col">
                                <label>N° Telefonico</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">+569</span>
                                    </div>
                                    <input type="text" class="form-control round" id="phone-number">
                                </div>
                                <span id="phone-number-ok"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="form-group div-modal-margin-top">

                                    <label>Imagen</label>
                                    <input type="file" class="form-control" id="photo" />
                                    <span id="photo-ok"></span>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="text-center">
                                    <img src="#" class="rounded image-user" alt="Imagen usuario" id="target-image">
                                </div>
                            </div>
                        </div>

                    

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Crear usuario</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL DE ENFERMEDADES USUARIO -->
    <div class="modal fade" tabindex="-1" role="dialog" id="diseases-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usuario:  <strong id="title-strong-diseases"></strong> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableDiseasesUser">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Asociar enfermedad
                                </th>                              
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnEditModal" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loading">
        <img id="loading-image" src="~/css/images/ajax-loader.gif" alt="Loading..." />
    </div>

</body>

</html>


