
@{
    ViewData["Title"] = "Tipos de enfermedades";
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <!--DataTable JS-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTable/dataTables.responsive.min.js"></script>

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <script src="~/js/DiseaseTypes/Index.js"></script>

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />

    <!--DataTable Css-->
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/dataTable/responsive.dataTables.min.css" rel="stylesheet" />

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>
<body>
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <h2 class="h2-title">Crear tipo de enfermedad</h2>
    <hr />
    <div class="row">
        <div class="input-group col-md-6">
            <input type="text" class="form-control" id="disease-type-name" placeholder="Ingrese nombre del tipo de enfermedad">
            <div class="input-group-append">
                <button class="btn btn-primary" id="btnCreate" data-toggle="tooltip" data-placement="top" title="Crear tipo o categoria de enfermedad"><i class="fa fa-floppy-o"></i> Crear tipo</button>
            </div>
        </div>
    </div>

    <br />

    <h2 class="h2-title">Listado de tipos de enfermedad</h2>
    <hr />

    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableDiseaseTypes">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre
                </th>                
                <th>
                    Operaciones
                </th>
            </tr>
        </thead>
    </table>

    <!-- MODAL DE ENFERMEDADES -->
    <div class="modal fade" tabindex="-1" role="dialog" id="diseases-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tipo o categoría:  <strong id="title-strong"></strong> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableDiseases">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                            </tr>
                        </thead>
                    </table>



                </div>
                <div class="modal-footer">
                    <button type="button" id="btnEditModal" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- MODAL DE ELIMINACIÓN -->
    <div class="modal fade" tabindex="-1" role="dialog" id="delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar cuidado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @*<label for="">¿Seguro desea borrar el registro?</label>*@
                        <label id="label-delete"></label>
                        <input type="hidden" id="care-id-modal-delete">
                        <input type="hidden" id="care-name-modal-delete">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnDeleteModal" class="btn btn-danger"><i class="fa fa-trash-o"></i> Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

