@model Martina.API.Models.UserViewModel
@{
    ViewData["Title"] = "Editar";
}

<h2 class="h2-title">Editar usuario</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="ChangeUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="Id" />
            <input type="hidden" id="ImageId" />

           

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="ChangePassword" class="btn btn-warning">Cambiar Contraseña</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <img src="@Model.ImageFullPath" style="width:250px;height:250px;border-radius:50%" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}