@{
    ViewData["Title"] = "Editar usuario";
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/Account/ChangeUser.css" rel="stylesheet" />
    <script src="~/js/Account/ChangeUser.js"></script>

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <div>
        <h2 class="h2-title">Editar usuario: <strong id="strong-title"></strong></h2>
        <input type="hidden" id="email" />
        <input type="hidden" id="id" />
       
        <button type="button" id="btnCallModal" class="btn btn-outline-info"><i class="fa fa-key"></i> Cambiar contraseña</button>
    </div>

    <hr />

    <div>
        <form enctype="multipart/form-data" id="register-user" action="Register">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Tipo de usuario</label>
                        <div>
                            <label for="f-option" class="l-radio" id="label-visible">
                                <input type="radio" id="f-option" name="selector" tabindex="1" value="Administrador">
                                <span>Administrador</span>
                            </label>
                            <label for="s-option" class="l-radio">
                                <input type="radio" id="s-option" name="selector" tabindex="2" value="Cuidador">
                                <span>Soy cuidador</span>
                            </label>
                            <label for="t-option" class="l-radio">
                                <input type="radio" id="t-option" name="selector" tabindex="3" value="Cuidado">
                                <span>Busco cuidador</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingrese un nombre">
                </div>
                <div class="col">
                    <label>Apellido</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Ingrese un apellido">
                </div>
            </div>

            <div class="row div-margin-top">
                <div class="col">
                    <label>Dirección</label>
                    <input type="text" class="form-control" id="address" placeholder="Ingrese una dirección">
                </div>
                <div class="col">
                    <label>N° Telefonico</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">+569</span>
                        </div>
                        <input type="text" class="form-control round" id="phone-number">
                    </div>
                    <span id="phone-number-ok"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group div-margin-top">
                        <label>Certificado de antecedenetes</label>
                        <input type="file" class="form-control" id="certificate" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <div class="form-group div-margin-top">
                        <label>Imagen</label>
                        <input type="file" class="form-control" id="photo" />
                        <input type="hidden" id="photo-hidden" />
                        <span id="photo-ok"></span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="text-center">
                        <img src="" class="rounded image-user" alt="Imagen usuario" id="target-image">
                    </div>
                </div>
            </div>

            <hr />

            <div class="text-right">
                <button type="submit" class="btn btn-primary text-right"><i class="fa fa-floppy-o"></i> Guardar cambios</button>
            </div>
        </form>
    </div>

    <!-- MODAL DE CAMBIO DE CONTRASEÑA -->
    <div class="modal fade" tabindex="-1" role="dialog" id="change-password-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="change-password" action="ChangePassword">
                        <div class="form-group">
                            <label>Contraseña actual</label>
                            <input type="password" class="form-control" id="old-password" placeholder="Ingrese una contraseña">
                        </div>
                        <div class="form-group">
                            <label>Contraseña nueva</label>
                            <input type="password" class="form-control" id="new-password" placeholder="Ingrese una contraseña">
                        </div>
                        <div class="form-group">
                            <label>Confirmación contraseña nueva</label>
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirme la contraseña">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Cambiar contraseña</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
