@{
    ViewData["Title"] = "Confirmación de Email";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar cuenta</title>
</head>

<body>

    <h2 class="h2-title">Confirmación de email</h2>
    <hr />
    <div>
        <p><strong>Gracias por confirmar su cuenta. Ya puedes ingresar al sistema.</strong></p>
        @*<p>Si no has asignado una contraseña, tu contraseña actual es: 123456, recuerde cambiarla por una más segura y de fácil recordación para usted.</p>*@
    </div>

</body>

</html>
