@model Martina.API.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/Account/Login.js"></script>
    <link href="~/css/Account/Login.css" rel="stylesheet" />

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

   
    <div class="container-login">
       
        <form method="post" id="login" action="Login">

            <h2 class="h2-title">Inicio de Sesión</h2>
            <hr />

            <div class="form-group">
                <label class="label-login">Usuario</label>
                <input id="username" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label class="label-login">Password</label>
                <input id="password" type="password" class="form-control" />
            </div>

            <label class="custom-radio-checkbox">
                <input class="custom-radio-checkbox__input" type="checkbox" name="remember" value="remember">
                <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
                <span class="custom-radio-checkbox__text"> Recordarme</span>
            </label>

            <div class="form-group">
                <button type="submit" id="btnLogin" class="btn btn-success"> <i class="fa fa-sign-in-alt"></i> Iniciar sesión</button>
                <button type="button" id="btnRegisterModal" class="btn btn-primary btn-register"> <i class="fa fa-user-plus"></i> Registrarme</button>
                <hr />
                <a id="btnCallModalRecoverPassword" class="btn btn-link">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
      
    </div>

  
   


    <!-- MODAL DE REGISTRO USUARIO -->
    <div class="modal fade" tabindex="-1" role="dialog" id="register-modal">
        <div class="modal-dialog modal-lg" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="register-user" action="Register">
                        <div class="form-group">
                            <label>Tipo de usuario</label>
                            <div>
                                <label for="option-1" class="l-radio">
                                    <input type="radio" id="option-1" name="selector" tabindex="1" value="Cuidador" checked>
                                    <span>Soy cuidador</span>
                                </label>
                                <label for="option-2" class="l-radio">
                                    <input type="radio" id="option-2" name="selector" tabindex="2" value="Cuidado">
                                    <span>Busco cuidador</span>
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control div-margin-down" id="email-register" placeholder="Ingrese un email">
                            <span id="email-ok-register"></span>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese un nombre">
                            </div>
                            <div class="col">
                                <label>Apellido</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Ingrese un apellido">
                            </div>
                        </div>

                        <div class="row div-modal-margin-top">
                            <div class="col">
                                <label>Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="Ingrese una dirección">
                            </div>
                            <div class="col">
                                <label>N° Telefonico</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default">+569</span>
                                    </div>
                                    <input type="text" class="form-control round" id="phone-number">
                                </div>
                                <span id="phone-number-ok"></span>
                            </div>
                        </div>

                        <div class="row div-modal-margin-top">
                            <div class="col">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" id="password-register" placeholder="Ingrese una contraseña">
                            </div>
                            <div class="col">
                                <label>Confirmación de contraseña</label>
                                <input type="password" class="form-control" id="password-confirm-register" placeholder="Reingrese la contraseña">
                            </div>
                        </div>


                        <div class="row div-modal-margin-top" id="certificado">
                           
                            <div class="col-12">
                                <label>Certificado de antecedentes</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="certificate" placeholder="Ingrese certificado">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-danger"  data-toggle="tooltip" data-placement="top" title="Crear un cuidado"><i class="fas fa-trash"></i> Borrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div-modal-margin-top">
                            <div class="col-8">
                                <label>Imagen</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="photo" accept="image/x-png,image/gif,image/jpeg" placeholder="Ingrese imagen">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-danger" id="btnRemoveImageButton" data-toggle="tooltip" data-placement="top" title="Crear un cuidado"><i class="fas fa-trash"></i> Borrar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="text-center">
                                    <img src="#" class="rounded image-user" alt="Imagen usuario" id="target-image">
                                </div>
                            </div>
                        </div>


                            <div class="modal-footer">

                                <button type="submit" id="btnRegisterUser" class="btn btn-primary"><i class="fas fa-save"></i> Registrar usuario</button>
                                <button type="button" id="btnCloseRegister" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL DE RECUPERAR CONTRASEÑA -->
    <div class="modal fade" tabindex="-1" role="dialog" id="recover-password-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recuperar contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="recover-password" action="Register">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control div-margin-down" id="email-recover" placeholder="Ingrese un email">
                            <span id="email-ok-recover"></span>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Enviar email</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</body>

</html>

