@model Martina.API.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Account/ResetPassword.js"></script>
    <link href="~/css/Account/ResetPassword.css" rel="stylesheet" />

    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
</head>

<body>

    <h2 class="h2-title">Cambiar Contraseña</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form method="post" id="reset-password" action="Register" >
                @*<div asp-validation-summary="All"></div>*@
                <input type="hidden" asp-for="Token" id="token"/>

                <div class="form-group">
                    <label>Email</label>
                    <input id="email-recover" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input id="password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Confirmación password</label>
                    <input id="confirm-password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" id="change-password" class="btn btn-primary"><i class="fa fa-key"></i> Cambiar contraseña</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>

