
@{
    ViewData["Title"] = "Cuidados";
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

   

    <!--DataTable JS-->
    <script type="text/javascript" src="~/js/dataTable/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="~/js/dataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/dataTable/dataTables.responsive.min.js"></script>
    <!-- Toastr notification Js -->
    <script src="~/toastr/toastr.min.js"></script>

    <script src="~/js/Cares/Create.js"></script>
    <link href="~/css/Cares/Create.css" rel="stylesheet" />

    <!-- Toastr notification Css -->
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />

    <!--DataTable Css-->
    <link href="~/css/dataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/dataTable/responsive.dataTables.min.css" rel="stylesheet" />

</head>
<body>  
    <!-- Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <h2>Crear cuidado</h2>
    <hr />
    <div class="row">
        <div class="form-group col-md-6">
            <input id="care-name" class="form-control" placeholder="Ingrese nombre del cuidado" />
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary" id="btnCreate"><i class="fa fa-floppy-o"></i> Crear cuidado</button>
        </div>
    </div>

    <br />

    <h2>Listado de cuidados</h2>
    <hr />

    <table class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="TableCares">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Creador
                </th>
                <th>
                    Fecha creación
                </th>
                <th>
                    Operaciones
                </th>
            </tr>
        </thead>
    </table>

    <!-- MODAL DE EDICIÓN -->
    <div class="modal fade" tabindex="-1" role="dialog" id="edit-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar cuidado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Nombre del cuidado</label>
                        <input class="form-control" id="care-name-modal" placeholder="Ingrese nombre del cuidado">
                        <input type="hidden" id="care-id-modal">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnEditModal" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  

}
